body{
    background-image: url("https://i.pinimg.com/originals/17/71/9b/17719b0a6e4895f78f15ed591fab51cb.jpg");
}
#mainSection{
    position: relative;
}
#modal{
    position: absolute;
    left: 25%;
    top: 20%;
    z-index: 1;
    color: black;
}
#dashboard{
    position: absolute;
    left: 15.37%;
    top: 30%;
    z-index: 1;
    color: black;
    height: auto;
}